[Unit]
Description=NFC Music Box
After=multi-user.target

[Service]
ExecStart=/bin/bash -c 'cd /home/pi/nfc-music-box && /usr/bin/python3 -u main.py > /var/log/nfcmb.log 2> /var/log/nfcmb_err.log'
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
