{% extends "layout/base.html" %}

{% block body %}
<h2>Add Tag</h2>
{% if vm.error %}
<div class="ui error icon compact message">
    <i class="times circle icon"></i>
    <div class="content">
        <div class="header">Validation Error</div>
        <p>You're missing the tag ID or file upload, or you didn't upload an .mp3 file. Try again!</p>
    </div>
</div>
{% endif %}
<div class="ui grid">
    <div class="doubling stackable three column row">
        <div class="column">
            <div class="ui segment">
                <form class="ui form" method="post" enctype="multipart/form-data">
                    <div class="field">
                        <label for="uid">NFC Tag ID</label>
                        <input id="uid" name="uid" type="text" placeholder="00000000001" value="{{ vm.last_tag }}">
                        <div><small><em>Last tag:</em> {{ vm.last_tag }}</small></div>
                    </div>
                    <div class="field">
                        <label for="song">Song</label>
                        <input id="song" name="song" type="file">
                    </div>
                    <div class="field">
                        <button type="submit" class="ui green icon labeled button">
                            <i class="plus icon"></i> Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}